.auth {
  width: 400px;
}

.auth .auth__input {
  box-shadow: 0 3px 5px rgb(0 0 0 / 3%);
}

.box {
  @apply bg-white border-transparent rounded-md;
  box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
}

.text-input-form {
  @apply w-full rounded-md border border-inherit placeholder-gray-400;
}

.btn {
  @apply font-medium border rounded-md text-white py-2 px-3 w-full;
}

.btn-primary {
  @apply bg-primary hover:opacity-90;
}

.btn-secondary {
  @apply bg-white text-gray-500 hover:bg-gray-50;
}

.checkbox-input {
  @apply w-4 h-4 text-blue-600 border bg-gray-100 border-gray-300 rounded focus:ring-blue-300 focus:ring-2 cursor-pointer;
}

.a-btn {
  @apply block text-center cursor-pointer;
}

.top-bar .top-bar__content {
  box-shadow: 0 3px 15px rgb(0 0 0 / 7%);
}

.main-section {
  height: 100vh;
  width: 100vw;
  padding-top: 64px;
}

.zoom-in {
  cursor: pointer;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.zoom-in:hover {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.scrollbar-hidden::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

.user-card-container {
  height: calc(100vh - 305px);
}

.spinning {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 16px 24px;
  transform: translateY(-50%);
  box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
  @apply bg-white border-transparent rounded-md;
}

.react-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}


@media (max-width: 767px) {
  .auth {
    max-width: 100%;
  }
}


/* Loading screen */
.loading-screen {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loading-screen .loading {
  display: flex;
  /* transform: scale(4); */
}

.loading .ball {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  transition: transform 0.3s infinite;
}

.ball + .ball {
  margin-left: 0.4rem;
}

.loading .ball.one {
  animation: loadingBall 0.5s infinite alternate;
  background: #ff592930;
}

.loading .ball.two {
  animation: loadingBall2 0.5s infinite 0.2s alternate;
  background: #fc065130;
}

.loading .ball.three {
  animation: loadingBall3 0.5s infinite 0.35s alternate;
  background: #6cb94430;
}

.loading .ball.four {
  animation: loadingBall4 0.5s infinite 0.5s alternate;
  background: #2de2fa30;
}

@keyframes loadingBall {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #ff5929;
    box-shadow: 0 0 2px #ff5929aa;
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes loadingBall2 {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #fc0651;
    box-shadow: 0 0 2px #fc0651aa;
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes loadingBall3 {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #6cb944;
    box-shadow: 0 0 2px #6cb944aa;
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes loadingBall4 {
  0% {
    transform: translateY(-10px) scale(1.2);
    background: #2de2fa;
    box-shadow: 0 0 2px #2de2faaa;
  }
  100% {
    transform: translateY(5px);
  }
}